In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
df = pd.read_csv('2013_FootballRoster_BMI.csv')
df

,BMI,Michigan,Iowa,MichiganSt,Minnesota,Nebraska,Northwestern,NotreDame,OhioSt,PennSt
0,20.5,0,0,0,0,0,0,0,0,0
1,21.5,2,0,0,1,0,0,0,0,2
2,22.5,2,0,0,1,3,3,1,0,2
3,23.5,1,3,6,8,1,5,2,1,3
4,24.5,9,6,9,5,12,12,5,0,6
5,25.5,9,15,8,12,13,19,9,15,10
6,26.5,10,6,12,11,11,16,13,19,12
7,27.5,14,13,8,11,12,8,13,14,6
8,28.5,9,10,8,11,11,9,8,7,12
9,29.5,7,11,11,13,13,6,9,14,13
10,30.5,3,10,9,8,4,6,9,5,14
11,31.5,11,7,6,8,3,5,4,6,5
12,32.5,4,5,4,3,7,2,6,2,3
13,33.5,5,7,5,7,6,6,4,2,3
14,34.5,8,9,4,6,8,3,4,2,2
15,35.5,7,6,3,5,9,6,4,11,4
16,36.5,4,4,4,3,6,2,1,2,5
17,37.5,0,4,6,4,1,3,9,7,5
18,38.5,2,0,5,1,4,0,1,2,2
19,39.5,4,0,2,1,0,0,1,2,2
20,40.5,0,0,0,0,2,0,1,1,0
21,41.5,0,0,0,1,0,0,1,1,0
22,42.5,0,0,0,0,0,0,1,0,0
23,43.5,0,0,0,0,0,0,1,0,0

In [4]:
BMI_data = np.array(df)

In [5]:
# Michigan BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,1])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,1])

average()

29.86936936936937

In [6]:
# Michigan State BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,3])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,3])

average()

30.036363636363635

In [7]:
# Ohio State BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,8])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,8])

average()

30.207964601769913

In [8]:
# Difference in Average BMI between Michigan and Minnesota
# Minnesota BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,4])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,4])

average()

29.525

In [9]:
29.86936936936937 - 29.525

0.344369369369371

In [10]:
# Difference in Average BMI between Michigan and Notre Dame
# Notre Dame BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,7])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,7])

average()

30.3411214953271

In [11]:
29.86936936936937 - 30.3411214953271

-0.47175212595773175

In [12]:
# Difference in Average BMI between Michigan and Iowa
# Iowa BMI
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,2])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,2])

average()

29.896551724137932

In [13]:
29.86936936936937 - 29.896551724137932

-0.02718235476856279

In [14]:
29.86936936936937 - 30.036363636363635

-0.16699426699426567

In [15]:
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,5])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,5])

average()

29.896825396825395

In [16]:
29.86936936936937 - 29.896825396825395

-0.027456027456025822

In [17]:
def average():
    for i in BMI_data:
        BMI_list = []
        avg = ((BMI_data[:,9])*(BMI_data[:,0]))
        BMI_list.append(avg)
    return np.sum(BMI_list)/np.sum(BMI_data[:,9])

average()

29.626126126126128

In [18]:
29.86936936936937 - 29.626126126126128

0.2432432432432421

In [19]:
29.86936936936937 - 30.207964601769913

-0.338595232400543

In [20]:
# Calculate the correlation coefficient between the \[Delta]BMI and the point spread, for each of the opponents of Michigan.

# Note: You will need the average BMI, and difference in BMI for all teams calculated for this question.

from scipy.stats import pearsonr

In [21]:
yay = pd.read_csv('BMI_csv - Sheet1.csv')

final = np.array(yay)
final
corrcoeff, z = pearsonr(final[:,0],final[:,1])
corrcoeff

0.2790326324607809

In [22]:

import scipy.stats
scipy.stats.ttest_1samp(yay, popmean=8, axis=0, nan_policy='propagate', alternative='two-sided')

Ttest_1sampResult(statistic=array([-31.44982026,  -0.92017651]), pvalue=array([6.86593293e-08, 3.92972860e-01]))

In [27]:
num = np.sqrt(6)
den = np.sqrt(1-(0.2790326324607809**2))
t = 0.2790326324607809*(num/den)
t

0.7117574227847628